<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.munjie.vue.myblog.dao.ArticleDao">

    <insert id="saveArticle" parameterType="com.munjie.vue.myblog.entity.Article">
    insert into article (id, articleId, author, 
      title, content, releaseTime)
    values (#{id,jdbcType=INTEGER}, #{articleId,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{releaseTime,jdbcType=VARCHAR})
  </insert>

    <select id="getArticleById" resultType="com.munjie.vue.myblog.entity.Article">

        select * from article where articleId =#{articleId}
    </select>

    <select id="listArticles" resultType="com.munjie.vue.myblog.entity.Article">
        select * from article
    </select>


</mapper>